<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/jQuery/jQuery_v3.5.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<%- include('header.ejs); %>
<%- include('footer.ejs); %>
</body>
</html>



<% for(var i=article.length-1; i > article.length-3-1; i--) { %>
<div class="siderba3_content">
    <img src="<%= i.thumbnail %>">
    <a href="/blog/<%= i.id %>"><%= i.title %></a><br/>
    <span><%= i.date %></span>
    <div class="flex">
        <a href="/blog/<%= i.id %>"><i class="fas fa-plus"></i></a>
    </div>
</div>
<% } %>